<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JMS 2.0 and EJB 3.2 Example</title>
</head>
<body>
    <h1>Quickstart: Example demonstrates the use of <strong>JMS 2.0</strong> and <strong>EJB 3.2 Message-Driven Bean</strong> in JBoss EAP.</h1>
    <p>Sending messages to <em>{destination}</em></p>
    <h2>The following messages will be sent to the destination:</h2>
    #for(message in messages)
        <p>Message ({i}): {message}</p>
    #end
    <p><i>Go to your JBoss EAP server console or server log to see the result of messages processing.</i></p>
</body>
</html>